//########## VARIABLES ##########

unless $media-width-lg is defined
  $media-width-lg = 1200px

unless $media-width-md is defined
  $media-width-md = 992px

unless $container-margin is defined
  $container-margin = 2em

unless $modal-margin is defined
  $modal-margin = 2em

unless $sidebar-offset-list is defined
  $sidebar-offset-list = ('xs' 150px) ('sm' 200px) ('md' 250px) ('lg' 300px) ('xl' 400px)

unless $view-size-list is defined
  $view-size-list = ('xs' 300px) ('sm' 400px) ('md' 500px) ('lg' 600px) ('xl' 800px) ('xxl' 1000px) ('xxxl' 1200px)

//########## VIEW SIZES ##########

.container-full
  @extend .container
  +above($media-width-lg)
    width auto
    margin-left $container-margin
    margin-right $container-margin

for sidebar_size in $sidebar-offset-list
  .container-full-sidebar-offset-{sidebar_size}
    @extend .container
    +above($media-width-lg)
      width auto
      margin-left $container-margin
      margin-right $container-margin

for size in $view-size-list
  .container-{size}
    @extend .container
    // +above($media-width-md)
    +above(size[1])
      width size[1]
  for sidebar_size in $sidebar-offset-list
    .container-{size}-sidebar-offset-{sidebar_size}
      @extend .container
      +above(size[1] + sidebar_size[1])
        width size[1] + sidebar_size[1]
    .sidebar-offset-{sidebar_size}
      +above($media-width-md)
        margin-left sidebar_size[1]

.modal .modal-dialog.modal-size-full
  width auto
  margin-left $modal-margin
  margin-right $modal-margin

for size in $view-size-list
  .modal .modal-dialog.modal-size-{size}
    width size[1]

//########## VIEW STYLES ##########

.modal-header
  > .close
    margin-top 5px
  > div
    @extend .pull-right
    margin-right 0.8em

.filter-header
  .popover-title button
    margin-top -5px
    color #000
    &:hover
      color #6E6E6E
  .popover-content
    text-align center
    > .filter-search
      margin-top 10px
    > .filter-values
      text-align left
      > label.checkbox
        margin-left 20px
        cursor pointer
    .input-daterange
      width 300px
      margin-bottom 10px
      span.input-group-addon
        padding-top 0
        padding-bottom 0

.form-add-link
  @extend .pull-right
  margin-top -3px
  margin-left 5px
  > img
    width 15px
    height 15px

#ajax-progress-bar
  position absolute
  margin 0
  height 7px
  width 100%
  > .progress-bar
    -webkit-transition none !important
    transition none !important
    line-height 7px
