ajaxviews/static/require-ajax-views/lib/coffee-script.js linguist-vendored=false
ajaxviews/static/require-ajax-views/lib/cs.js linguist-vendored=false
ajaxviews/static/require-ajax-views/lib/r.js linguist-vendored=false