a.internal[title='ajaxviews.mixins'] {
    color: #404040;
    pointer-events: none;
    cursor: default;
}
#dependencies .hlist dl {
    margin-bottom: 0;
}
.flex-grid {
    display: flex;
    justify-content: space-between;
}
.clear {
    clear: both;
}
@media only screen and (max-width: 1025px) {
    .flex-grid {
        display: block;
        justify-content: initial;
    }
}